body{
    background-color: #0a0a0a;
    color: rgb(198, 31, 31);
    font-family: "EB Garamond", serif;
    margin:0px;
    
    
}

header {
    font-size: 30px;
    text-align: center;
    border-bottom:   outset 5px rgb(206, 27, 27);
   /* margin: 10px; */
    padding: 10px;
}
h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}